fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
pydantic
python-multipart
langchain
langchain-openai
langchain-community
pypdf
python-docx
python-dotenv
httpx
pandas==2.2.1
openpyxl==3.1.2
pdf2image==1.17.0
pytesseract==0.3.10
Pillow==10.3.0
python-pptx==0.6.23
langchain-google-genai
